* {
  transition: all 0.2s;
}

body {
  /* safari fucking bounce */
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(250,248,239);
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

center {
  padding-top: 16px;
}

h1 {
  color: #776e65;
  font-weight: bold;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

#all {
  position: relative;
  border-radius: 6px;
  background-color: rgb(187,173,160);
  height: 65%;
  margin: 0 auto;
  z-index: 50;
}

@media (max-width: 400px) {
  #all {
    /*  left: 5%;
      right: 5%; */
      height: 90vw;
  }
}

.button {
  border-radius: 6px;
  background-color: rgb(187,173,160);
  background-color: #8f7a66;
  color: #ffffff
}

.inline {
   display:inline;
}

.block {
  border-radius: 6px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  display: table;
  z-index: 100;
}

.nums {
  transition: opacity 3s;
  display: table-cell;
  vertical-align: middle;
  background-color: inherit;
}

#win {
  transition: opacity 4s;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 200;
}

#loading {
    padding-top: 48%;
    padding-bottom: 48%;
    font-size: 18pt;
}

#restart {
  left: 20%;
  right: 62%;
}

#hint {
  left: 42%;
  right: 42%;
}

#answer {
  left: 62%;
  right: 20%;
}
